.container {
  width: 300px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.frame {
  position: absolute;
  width: 597px;
  margin: -149px;
  z-index: -100;
}

.audioplayer {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.farm {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 100px;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 100px);
  margin-top: 245px;
}

.tile {
  display: inline-grid;
  position: relative;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
}

.plant-offset {
  bottom: 45px;
}

.hoe {
  cursor:
    url(/Hoe.png),
    pointer;
}

.corn {
  cursor:
    url(/Corn.png),
    pointer;
}

.watercan {
  cursor:
    url(/WaterCan.png),
    pointer;
}

.progress {
  cursor: progress;
}

.game-info {
  position: fixed;
  background-color: rgba(0,0,0,0.50);
  border-radius: 10px;
  font-size: 12px;
  padding: 3px;
  color: white;
  top: 10px;
}

.game-info > p {
  margin: 0;
}
