.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 0;
  width: 300px;
}

.tile {
  display: inline-grid;
}

.grass {
  cursor:
    url(/Hoe.png),
    pointer;
}

.soil {
  cursor:
    url(/Corn.png),
    pointer;
}

.seeded {
  cursor:
    url(/WaterCan.png),
    pointer;
}
